.title {
    font-size: 1.4rem;
    font-weight: 400;
}

.räumen {
  display: flex;
  padding: 0.5rem;
  background: black;
  max-width: 100vw;
  border-radius: 0.3rem;
  gap: 0.5rem;
  margin: 0 auto;
  max-width: 70rem;
}

.raum {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: var(--quinary-color);
  color: white;
  padding: 0 0.3rem;
  border-radius: 0.3rem;
  flex: 1 1 50%;
}

.more {
  border-radius: 0.3rem;
  padding: 0 0.2rem;
}

.important {
  font-weight: bold;
  color: var(--primary-color);
}