.container {
  margin: 0 auto;
  padding: 0;
  max-width: 1000px;
  margin: 2rem auto 1.4rem;
  padding: 0 0.5rem;
}

.meldung {
  display: flex;
  align-items: center;
  background-color: rgb(224, 237, 251);
  padding: 1rem;
  gap: 1.8rem;
  max-width: 400px;
  margin-bottom: 4rem;
}

.notification {
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 0.15px;
  text-wrap: stable;
}

.link, .link:visited {
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
  text-decoration-thickness: 20%;
  border-radius: 0.5rem;
  color: black;
}

.link:hover, .link:focus {
  opacity: 0.8;
}

.underlineNOT{
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: rgb(240, 0, 0);
  text-decoration-thickness: 2.5px;
  white-space: nowrap;
}

.minors * {
  display: list-item;
  list-style-type: circle;
  margin-left: 1.3rem;
}

.ulList * {
  list-style-type:decimal;
}

.bubatz {
  margin: 1rem 0;
  display: flex;
  align-items: center;
}

.title {
  margin: 0 1rem 0 0;
}