.container {
  font-family: Arial;
  margin: 0 auto;
  padding: 0;
  border: 3px solid red;
  /* max-width: 1000px; */
}

.banner {
  display: flex;
  align-items: center;
  background-color: rgb(128, 192, 255);
  min-height: 14rem;
  padding: 0 5rem;
}

.heading {
  font-family: Rubik;
}

.meldung {
  margin: 2rem auto 1rem;
  display: flex;
  align-items: center;
  background-color: rgb(224, 237, 251);
  padding: 1rem;
  gap: 1.8rem;
  max-width: 400px;
}

.title {
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 0.2px;
}

.link, .link:visited {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  background-color: var(--primary-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
  max-height: 1.5rem;
  margin: 0 0.5rem;
}

.voraussetzungen {
  line-height: 1.5;
}

.räumen {
  display: flex;
  padding: 0.5rem;
  background: black;
  max-width: 100vw;
  border-radius: 0.3rem;
  gap: 0.5rem;
  margin: 0 auto;
}

.räumen *::selection {
  background-color: #b90000;
  color: white;
}

.raum {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: var(--quinary-color);
  color: white;
  padding: 0 0.3rem;
  border-radius: 0.3rem;
  flex: 1 1 50%;
}

.more {
  border-radius: 0.3rem;
  padding: 0 0.2rem;
}

.important {
  font-weight: bold;
  color: var(--primary-color);
}

.bubatz {
  margin: 1rem 0;
  display: flex;
  align-items: center;
}