:root {
  --primary-color: #5cb219;
  --secondary-color: #239831;
  --tertiary-color: #15761c;
  --quaternary-color: #5d6f19;
  --quinary-color: #836c0e;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  box-sizing: border-box;
  border: 3px solid aqua;
  width: 100vw;
}

* {
  box-sizing: border-box;
  /* margin: 0; */
  /* padding: 0; */
}
