.media {
  border: 3px solid aqua;
}

.link {
  text-decoration: none;
  color: black;
}

.title {
  font-size: 1.1rem;
  font-weight: normal;
}

.title:hover {
  text-decoration: underline;
  text-decoration-thickness: 1.4px;
  text-decoration-color: blue;
}