.container {
  padding: 0.3rem;
}

.intro {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.heading {
  font-size: 1.8rem;
}

.subheading {
  font-size: 1.2rem;
}

.subsubheading {
  font-size: 1.2rem;
  color: var(--primary-color);
  background-color: white;
  padding: 0.5rem;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
}

.subsubheading:hover {
  background-color: rgb(218, 218, 218);
}

.media {
  border: 1.5px solid rgb(225, 225, 225);
  padding: 0.5rem;
}

.link {
  text-decoration: none;
  color: black;

}

.item {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}

.item:hover {
  background-color: #e3e3e3
}

.title {
  font-size: 1.1rem;
  font-weight: normal;
  max-width: 75%;
}

.link:hover {
  text-decoration: underline;
  text-decoration-thickness: 1.4px;
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
  cursor: not-allowed;
  color: grey;
}