.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  background-color: #f4f4f4;
}

.tabs {
  display: flex;
  gap: 1rem;
  flex-grow: 1;
}

.Link {
  user-select: none;
}

.Link:hover {
  text-decoration: underline;
}

.active {
  color: red;  
  font-weight: bold; 
}