.nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.section {
  cursor: pointer;
}

.active {
  text-decoration: underline;
}